<p id="notice"><%= notice %></p>
    <ul class="w3-table-all"> 
	  <% @cart.line_items.each do |item| %>
	    <li><%= item.product.title %></li>
	    <li><%= number_to_currency(item.product.price) %></li>
	    <li><%= image_tag(item.product.image_url)%></li><br>
	  <% end %>
	</ul>
	
<%= link_to 'Edit', edit_cart_path(@cart), class: "w3-button w3-red" %> |
<%= link_to 'Back', carts_path, class: "w3-button w3-red" %>